* {
    margin: 0;
    padding: 0;
}

:root {
    --bg-color-gray: rgb(25, 25, 25);
}

body {
    background-color: var(--bg-color-gray);
    color: white;
    border: 1px solid green;
    width: 75%;
    margin: 0 auto;
}

/* Cabecalho */
#cabecalho {
    margin: 10px;
    width: 40px;
    height: 40px;
}

.bn3 {
    display: inline-block;
    padding: 0.5em 1.7em;
    margin: 0 0.1em 0.1em 0;
    border: 0.16em solid rgb(255, 255, 255);
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #ffffff;
    text-shadow: 0 0.04em 0.04em rgba(255, 255, 255, 0.253);
    text-align: center;
    transition: all 0.2s;
    background-color: rgb(25, 25, 25);
}

.bn3 img {
    filter: invert(1);
    width: 20px;
    height: 20px;
}

.bn3:hover {
    color: black;
    background-color: rgb(255, 255, 255);
}

.bn3:hover img {
    filter: invert(0);
}